---
import { Image } from "astro:assets";
import image from "../../assets/erem.png";
import ScrollArrow from "../ScrollArrow.astro";
---

<section id="erem" aria-labelledby="erem-title">
  <div class="content">
    <div class="content-inner">
      <h2 id="erem-title">
        Potěší,
        <span class="line sub">
          když se lidi na&nbsp;<a
            class="erem-link"
            href="https://eremtour.cz/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="erem tour (otevře se v novém okně)"
            title="erem tour"
          >
            eremtour&nbsp;&#x2197;</a
          > baví a policajti na&nbsp;služebně nudí.</span
        >
      </h2>

      <div class="scroll-arrow">
        <ScrollArrow href="#driving" variant="green" />
      </div>
    </div>
  </div>

  <div class="image">
    <Image src={image} alt="Poděs skáče do lidí" />
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables.scss" as *;
  @use "../../styles/typography.scss" as *;

  section {
    @include section-base();

    display: flex;
    gap: 1rem;

    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .content {
    flex: 1;
    display: flex;
  }

  .content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    padding-top: 3rem;
  }

  h2 {
    @include heading-section();
    @include gradient-heading($gradient-erem);

    max-width: clamp(26rem, 40vw, 50rem);
  }

  .image {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 25% center;
    }
  }

  .erem-link {
    @include loud-link();
  }

  .scroll-arrow {
    @include scroll-position();
  }

  @media (min-width: $breakpoint-md) {
    section {
      flex-direction: row;
      align-items: center;
    }

    .content {
      display: flex;
      justify-content: center;
    }

    .content-inner {
      padding-top: 0;
    }

    h2 {
      max-width: clamp(26rem, 40vw, 50rem);
    }

    .image {
      flex: 1;
      height: 100%;
      padding-block: 20vh;
      width: auto;
      max-height: none;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .scroll-arrow {
      position: relative;
      inset: 0;
    }
  }

  @media (min-width: $breakpoint-xl) {
    .content {
      justify-content: flex-end;
    }
  }
</style>
