---
import { Image } from "astro:assets";
import image from "../../assets/hobbies.jpeg";
import ScrollArrow from "../ScrollArrow.astro";
import LinkArrow from "../LinkArrow.astro";
---

<section id="hobbies" aria-labelledby="hobbies-title">
  <div class="content">
    <div class="content-inner">
      <h2 id="hobbies-title">
        Potěší,
        <span class="line sub">
          když běžím, když sednu na&nbsp;kolo a jedu. Daleko a dlouho.
        </span>
        <span class="line sub">
          <a
            class="strava-link"
            href="https://www.strava.com/clubs/bezimjakopodes"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Strava klub - Běžím jako poděs (otevře se v novém okně)"
            title="Strava klub - Běžím jako poděs"
          >
            Strava. <LinkArrow />
          </a>
        </span>
      </h2>

      <div class="scroll-arrow">
        <ScrollArrow href="#erem" variant="teal" />
      </div>
    </div>
  </div>

  <div class="image">
    <Image src={image} alt="Poděs na kole" />
  </div>
</section>

<style lang="scss">
  @use "../../styles" as *;

  section {
    @include section-base();

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 1rem;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .content-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h2 {
    @include heading-section();
    @include gradient-heading($gradient-hobbies);

    max-width: clamp(26rem, 40vw, 50rem);
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: center;

    height: 100%;
    padding-top: 10vh;
    padding-bottom: 6vh;

    img {
      height: 100%;
      max-width: 40vw;
      object-fit: cover;
      object-position: center center;
    }
  }

  .strava-link {
    @include loud-link();
  }

  .scroll-arrow {
    @include scroll-position();
  }

  @media (min-width: $breakpoint-md) {
    section {
      padding-inline: 2rem;
    }

    .content {
      flex: 1;
    }

    .image {
      padding-top: 20vh;
      padding-bottom: 0;
    }

    .scroll-arrow {
      position: relative;
      inset: 0;
    }
  }

  @media (min-width: $breakpoint-xl) {
    .content {
      justify-content: flex-end;
    }
  }
</style>
