---
import { Image } from "astro:assets";
import image from "../../assets/intro2.jpg";
import ScrollArrow from "../ScrollArrow.astro";
---

<section id="intro" aria-labelledby="intro-title">
  <div class="image-wrapper">
    <div class="image">
      <Image src={image} alt="Tomáš Potěšil" />
    </div>
  </div>

  <div class="content">
    <h1 id="intro-title" class="hero-heading">
      <span class="headline">Potěšil.</span>
      <span class="line sub">My name.</span>
      <span class="line sub">My mission.</span>
    </h1>
  </div>

  <div class="scroll-arrow">
    <ScrollArrow href="#hobbies" variant="black">
      <div class="box">
        Potěší,
        <span>když...</span>
      </div>
    </ScrollArrow>
  </div>
</section>

<style lang="scss">
  @use "../../styles" as *;

  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include section-base();
  }

  .image-wrapper {
    position: absolute;
    z-index: 1;
    inset: 0;

    .image {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        mix-blend-mode: multiply;
        opacity: 0.5;

        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
        will-change: background-position;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
  }

  .content {
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 10dvw;
  }

  .hero-heading {
    @include heading-hero();
  }

  .scroll-arrow {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
  }

  .box {
    background: black;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.25rem;

    span {
      display: block;
    }
  }

  @media (min-width: $breakpoint-md) {
    .image-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      padding-top: 100px;
      padding-right: 0;
      padding-left: 50vw;
    }

    .content {
      top: auto;
      left: 0;
      display: flex;
      justify-content: flex-end;
      transform: translate(105px, 0);
      width: 50vw;
    }

    .scroll-arrow {
      width: 50vw;
      display: flex;
      justify-content: flex-end;
    }

    .box {
      width: 230px;
    }
  }

  @media (min-width: $breakpoint-lg) {
    .image-wrapper {
      padding-right: 5vw;
    }
  }

  @media (max-height: 440px) {
    .content {
      display: block;
      top: 3rem;
      left: 1rem;
    }
  }
</style>
