---
import { Image } from "astro:assets";
import image from "../../assets/ironman.jpg";
import ScrollArrow from "../ScrollArrow.astro";
---

<section id="ironman" aria-labelledby="ironman-title">
  <div class="content">
    <div class="content-inner">
      <h2 id="ironman-title">
        Potěší
        <span class="sub"
          >IRONMAN za 5:31:21. A&nbsp;každá minuta, kterou příště stáhnu.</span
        >
        <span class="line sub small small-ironman">■ 1,9 km plavání ■ 90 km kolo ■ 21 km běh</span>
        <span class="line sub small">Zvládnu dřív, než na Netflixu zkoukneš 3 filmy :)</span>
      </h2>

      <div class="scroll-arrow">
        <ScrollArrow href="#work" variant="red" />
      </div>
    </div>
  </div>
  <div class="image">
    <Image src={image} alt="Poděs a Popstar" />
  </div>
</section>

<style lang="scss">
  @use "../../styles" as *;

  section {
    @include section-base();

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    padding: 3rem 0 1rem 1rem;
  }

  .content {
    flex: 2 1 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .content-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
  }

  .image {
    flex: 1 1 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;
    }
  }

  h2 {
    @include heading-section();
    @include gradient-heading($gradient-ironman);
  }

  .scroll-arrow {
    @include scroll-position();
  }

  @media (min-width: $breakpoint-md) {
    .content {
      flex: 1;
    }

    .content-inner {
      max-width: 70vw;
    }

    .image {
      flex: 1;
      img {
        width: 60%;
        height: auto;
      }
    }

    .scroll-arrow {
      position: relative;
      inset: 0;
    }

    
  }
</style>
