---
import logoSiegl from "../../assets/work/siegl.png";
import logoErem from "../../assets/work/erem.png";
import logoPacinekGlass from "../../assets/work/pacinek-glass.png";
import logoTramontaKlima01 from "../../assets/work/tramonta-klima.png";
import ScrollArrow from "../ScrollArrow.astro";
import WorkCard from "../WorkCard.astro";

const works = [
  {
    image: logoTramontaKlima01,
    alt: "Tramonta Klima",
    link: "https://www.tramontaklima.cz/",
    authors: ["Petr Široký"],
  },
  {
    image: logoSiegl,
    alt: "SIEGL kontejnery",
    link: "https://www.siegl.cz/",
    authors: ["Marcel Brna", "Tomáš Hubička"],
  },
  {
    image: logoErem,
    alt: "erem",
    link: "https://eremvole.cz/",
    authors: ["Martin Novák", "Jakub Ducháč"],
  },
  {
    image: logoPacinekGlass,
    alt: "Pačinek Glass",
    link: "https://www.pacinekglass.com/",
    authors: ["Petr Široký", "Tomáš Hubička"],
  },
];
---

<section id="work" aria-labelledby="work-title">
  <div class="content">
    <h2 id="work-title">
      Potěší,
      <span class="line sub">když dělám web, který má publikum a vizi.</span>
    </h2>

    <div class="grid">
      {
        works.map((work) => (
          <WorkCard
            image={work.image}
            alt={work.alt}
            link={work.link}
            authors={work.authors}
          />
        ))
      }
    </div>

    <div class="scroll-arrow">
      <ScrollArrow href="#blog" variant="purple" />
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles" as *;

  section {
    @include section-base();

    display: flex;
    gap: 1rem;

    justify-content: center;

    padding-inline: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    padding-top: 3rem;
  }

  h2 {
    @include heading-section();
    @include gradient-heading($gradient-work);

    margin-block: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: clamp(0.5rem, 2vw, 1rem);
    justify-content: center;
  }

  .scroll-arrow {
    @include scroll-position();
  }

  @media (min-width: $breakpoint-md) {
    .content {
      width: auto;
      justify-content: center;
      padding-top: 0;
    }

    h2 {
      margin-bottom: 2rem;
    }

    .grid {
      justify-content: start;
    }

    .scroll-arrow {
      margin-top: 2rem;
      position: relative;
      inset: 0;
    }
  }

  @media (min-height: 600px) and (min-width: $breakpoint-sm) {
    .grid {
      grid-template-columns: repeat(auto-fit, 150px);
      justify-content: start;
    }
  }

  @media (min-height: 900px) {
    .grid {
      grid-template-columns: repeat(4, clamp(150px, 15vh, 300px));
    }
  }

  @media (max-width: $breakpoint-md) {
    .grid {
      margin: 0;
      padding: 0;
      justify-content: start;
    }
  }
</style>
