---
import logoAimtec01 from "../../assets/work/aimtec-01.png";
import logoAimtec02 from "../../assets/work/aimtec-02.png";
import logoErem from "../../assets/work/erem.png";
import logoPacinekGlass from "../../assets/work/pacinek-glass.png";
import logoTramontaKlima01 from "../../assets/work/tramonta-klima-01.png";
import logoTramontaKlima02 from "../../assets/work/tramonta-klima-02.png";
import ScrollArrow from "../icons/ScrollArrow.astro";
import WorkCard from "../WorkCard.astro";

const works = [
  {
    image: logoTramontaKlima01,
    alt: "Tramonta Klima",
    link: "https://www.tramontaklima.cz/",
    authors: ["Petr Široký"],
  },
  {
    image: logoErem,
    alt: "Erem",
    link: "https://eremvole.cz/",
    authors: ["Martin Novák", "Martin Ducháč"],
  },
  {
    image: logoPacinekGlass,
    alt: "Pačinek Glass",
    link: "https://www.pacinekglass.com/",
    authors: ["Petr Široký"],
  },
  {
    image: logoAimtec01,
    alt: "Aimtec",
    link: "https://www.aimtecglobal.com/",
  },
  {
    image: logoTramontaKlima02,
    alt: "Tramonta Klima",
    link: "https://www.tramontaklima.cz/",
  },
  {
    image: logoAimtec02,
    alt: "Aimtec",
    link: "https://www.aimtecglobal.com/",
  },
];
---

<section id="work">
  <div class="content">
    <h1>
      <span>Potěší,</span>
      když dělám web, který má publikum a vizi.
    </h1>

    <div class="grid">
      {
        works.map((work) => (
          <WorkCard
            image={work.image}
            alt={work.alt}
            link={work.link}
            authors={work.authors}
          />
        ))
      }
    </div>

    <div>
      <ScrollArrow href="#blog" variant="purple" />
    </div>
  </div>
</section>

<style lang="scss">
  section {
    display: flex;
    height: 100vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    margin: auto;
    position: relative;
    max-width: 750px;
  }

  h1 {
    font-family: Inter;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.2;

    background: linear-gradient(63.45deg, #000000 3.64%, #4a0e79 66.25%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      display: block;
      font-weight: 900;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 2rem;
    margin-bottom: 2rem;
  }
</style>
