<header>
  <div class="container">
    <p class="site-title">
      <a href="#intro">potesil.com</a>
    </p>

    <nav aria-label="Hlavní navigace">
      <ul>
        <li><a href="#work">práce</a></li>
        <li><a href="#blog">blog</a></li>
        <li><a href="#contact">kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  @use "../styles/variables.scss" as *;
  @use "../styles/typography.scss" as *;

  header {
    position: fixed;
    z-index: 1000;
    width: 100%;

    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: saturate(160%) blur(6px);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-inline: auto;
    padding: 1rem;
  }

  .site-title {
    @include heading-brand();
    margin: 0;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    display: inline-flex;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: black;
      font-weight: 400;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
</style>
