---
const { id, className } = Astro.props;
---

<section id={id} class={`section ${className || ""}`}>
  <slot />
</section>

<style lang="scss">
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 80vw;
    margin: auto;
  }
</style>
