---
declare global {
  interface Window {
    dataLayer: Record<string, any>[];
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, viewport-fit=cover"
    />

    <meta name="description" content="Potěšil. My name. My mission." />
    <meta name="robots" content="index, follow" />

    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />

    <title>Tomáš Potěšil</title>

    <!--
      ✨ Hand-coded with care by Jaroslav Hrách, 2025
      If you are reading this, have a nice day!
    -->

    <!-- Open Graph -->
    <meta property="og:title" content="Tomáš Potěšil" />
    <meta property="og:description" content="Potěšil. My name. My mission." />
    <meta property="og:url" content="https://potesil.com/" />
    <meta property="og:site_name" content="Tomáš Potěšil" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="cs_CZ" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "email": "mailto:tomas@potesil.com",
        "name": "Tomáš Potěšil",
        "gender": "Male",
        "url": "https://potesil.com",
        "sameAs": [
          "https://www.tomaspotesil.cz/",
          "https://podes.cz/",
          "https://www.instagram.com/tomaspotesil",
          "https://x.com/tomaspotesil"
        ]
      }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f9c28b4b90.js"
      crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(..._args: unknown[]) {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XXX");
    </script> -->
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-height: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    height: 100%;
    margin: 0;
    background-size: cover;
    min-height: 100vh;
  }
</style>
